<div class="container-fluid text-left row">    
    <div class="row content">
	    
	  <div class="col-sm-2 sidenav">
      </div>
      
      <div class="col-sm-8"> 

          <h1 class="display-3">Contract Between Users and Sahem </h1>
          <p>
            <strong>
                1. ACCEPTING THESE TERMS
            </strong>
            <br>
            When you register for a Sahem account or otherwise access or use the service including for the purposes of posting an ad; you are accepting these Terms:
            <li>  When using the Sahem Platform as a User, you promise to us that you will comply with the Borrowers' Rules and Lender’s Rules depending on your role in the transaction 
</li>
<li> For any help, further questions, complaints, disputes, or comments about Sahem, please contact us at sahemqatar@gmail.com
</li>
<li> Sahem fully adheres to the laws of Qatar

</li>
<br>
<strong>
                2. ROLE OF SAHEM
            </strong>
            <br>
            Sahem's role as an intermediary only
<br>
<li> Sahem makes available to you an online platform (the "Sahem Service") through which lenders may make available certain equipment for rental by borrowers upon approval by the parties.
</li>
<li> As Sahem, we will make sure that we study and record the situation of the equipment before we deliver it back and forth between users.
</li>
<li> Sahem has the right to cancel any listing posted by a lender, any request to borrow an item submitted by a borrower, or any transaction if it reasonably believes such listing, request, or transaction does not comply with our terms. 
</li>
<br>
<strong>
                3. USING THE SAHEM SERVICE

            </strong>
            <br>
When you create at account, you agree that: 
<br>
<li> You are at least 18 years old 
</li>
<li> All information and details provided by you need to be true, accurate, and up to date. You can update or correct your personal details at any time by contacting us at any time.
</li>
<li>	You will be respectful for everyone 
</li>
<br>
When you create an account, you agree that you will not:
<li>	Breach the law 
</li>
<li>	Post any threatening or abusive content 
</li>
<li> Distribute any viruses or any other technologies that may harm Sahem or the equipment of its users
</li>
<li> Lease equipment that is not yours
</li>
<br>
Using the service as a Lender: 
<br>
<li> When listing an item for rental through Sahem, you must give true and accurate details of the condition of the item and mention what is included or missing, as well as any defaults or damages in the item. 
</li>
<li> When asking for a price per rental, the price of the equipment per day can not exceed 10 % of the actual price of the item. 
</li>
<li> Sahem has the right to re use any of the pictures or descriptions of items that you post
</li>
<br>
Using the service as a Borrower: 
<br>
<li> By requesting to rent an item through Sahem, you are responsible for proper use of the equipment. You are also responsible to bringing up any damages that you caused as well as pay for repairing it, or replacing it if needed. 
</li>
<li>You acknowledge that if you return the item after the return date (as mentioned when you requested the item) without informing the other party, Sahem is entitled to charge you for the full rental fee, including a penalty of QR 10/day. 
</li>
<br>
<strong>
                4. CHANGES TO THE SAHEM SERVICE AND CHANGE OF TERMS

            </strong>
            <br>
Sahem reserves the right to change its service at any time, including adding, removing or changing features (which may advantage or disadvantage you). However, Sahem will make sure to notify you. You have the right to end your use of the platform if you did not agree to the new changes. Kindly refer to section 6 for more information about ending your membership with Sahem. 
<br>
<br>
<strong>
                5. FEES AND COMMISSION

            </strong>
            <br>
            For each transaction, Sahem will take 10% from the amount paid by the borrower to the lender. Currency of payment is Qatari Riyals.
<li> As a lender, you will receive your payment 24 hours after the scheduled return of the item or before. 
</li>
<li> As a borrower, you will need to pay before you receive the equipment. 
</li>
<li> If the borrower decided to return the item sooner than the return date, financial adjustments will be made by Sahem. 
</li>
<br>
<strong>
                6. ENDING YOUR MEMBERSHIP IN SAHEM 

            </strong>
            <br>
            You can always choose to stop using Sahem simply by emailing us the request on sahemqatar@gmail.com with your username. 
<br>
<br>
<strong>
                7. PERSONAL INFORMATION

            </strong>
            <br>
            By using Sahem, you agree to the collection, transfer, storage and use of your personal information by Sahem, as further described in our Privacy Policy. 
<br>
<br>
<button id="lendingButtHomePage"><%= link_to 'AGREE', root_path %></button>
          </p>
            
        
        </div>
                
 
     
      <div class="col-sm-2 sidenav">
      </div>
    
    </div>
</div>
